@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #E9E4D9;
}

.lazy_input, input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
}

.autoservis, .vehicle {
    font-size: large;
    border-radius: 25px;
    border: 1px solid #D64649;
    color: black;
    background-color: #D64649;
    width: 300px;
    height: 30px;

}
.listItem {
    position: relative;
    background-color: #D64649 !important;
    font-size: x-small !important;
    color: black !important;
    border-radius: 25px !important;
    text-align: justify-all !important;
    height: 50px !important;
    left: 60px;
    font-weight: bold!important;
    margin-bottom: 2px !important;

}



.register_container {
    margin: 1em;
}

.partFont {
    font-size: larger;
}

.switchButtonBox {


    width: 220px;
    margin: 35px auto;
    position: relative;

    border-radius: 30px;
    display: flex;

}

.sideBar {
    display: none;
}

.switchButton {


    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0px;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #FD5F00;
    border-radius: 30px;
    transition: .5s;
}


.cancelbtn {

    width: auto;
    padding: 10px 18px !important;
    background-color: #f44336 !important;
    border-radius: 25px;
    border-color: inherit;
    border: 0;
    margin-right: 3em;

}

.cancelbtn2 {

    width: auto;
    padding: 10px 18px;
    background-color: #f44336 !important;
    border-radius: 25px;
    border-color: inherit;
    border: 0;


}
button {
    background-color: inherit;
    border: 0;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;

}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.login_container {
    padding: 10px;
    padding-bottom: 7px;

}

*:focus {
    outline: none;
}

.subTitle {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #f44336;
    padding: 0 0 4px;
}

.modal {

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;


}


.modal-content {
    border-radius: 25px;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
    padding: 10px;

}

.bad_credentials {
    margin-bottom: 1em;
    font-size: 0.8em;
    color: red;
}

.red-border {
    border-color: red !important;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {

    color: red;
    cursor: pointer;
}

.RegisterButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;

    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    width: 97%;
    border-radius: 25px;
}

.LoginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}


p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.dataChange {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 200px;
}

.hide-mobile {
    display: none;
}

header {
    display: table;
    justify-content: space-between;
    text-align: left;
}

.SavePartButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 25px;
    padding-left: 1em!important;
}

.menu {
    width: 25px;
    margin-top: 45%;
    right: 10em;
}

.automobil {
    width: 20%;

}

h1, .subhead {
    position: relative;

}

.subhead {
    font-size: 1.1em;
}

.black-container {

    width: 100%;
    background: #465062;
    color: #EDE9E2;
    margin: 15% 0 0;
    padding: 4em 0 2em;


}

.black-container ul li {
    margin-bottom: 3em;
}

.black-container ul li p {

    padding: 0.5em;

}

.black-container img {
    width: 18%;
}

.red-container {
    background: #D64649;
    padding: 4em 0 2em;
    color: #EDE9E2;

}

.red-container ul li:first-child {
    margin-bottom: 2em;
}


figure {

    margin: 0;
    padding: 0%;
}

figcaption {
    font-weight: bold;
}


.red-container img {
    width: 45%;
}

.red-container ul li:last-child {
    margin-bottom: 1.5em;
}

.container {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

.dataChange {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

.footer-container {
    width: 100%;
    padding: 3em 0;

}


ul.footer-links {

    margin: 0 auto;
}

ul.footer-links li button {
    color: #465062;
    font-size: .8em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    text-align: left;
    background: rgb(35, 41, 44);
    height: 100%;
    z-index: 2;

}

nav ul li button {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(35, 41, 44);
    border: 1px solid white;
}

nav ul li button:hover {
    background-color: red;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: 1.3em;
    text-align: right;
    padding: 0 1.4em;
    border: none;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}
.exit-btn:hover{
    background-color: inherit;
}

.carLogo {
    text-align: center;
    display: inline-block;
}
@media screen and (min-width: 445px) {
    .autoservis, .vehicle {

        width: 400px;
    }
    .listItem{
        left: 16em;
    }
}
    @media screen and (min-width: 546px) {
        .subTitle{
            left: 100px;
        }
        .autoservis, .vehicle {

            width: 45em;
        }
        .listItem{
            left: 14em;
            width: 400px;
        }
    }

    @media screen and (min-width: 745px) {
        .autoservis, .vehicle {

            width: 53em;
        }
        .listItem{
            left: 20em;
        }
    }
    @media screen and (min-width: 851px) {
        .autoservis, .vehicle {

            width: 60em;
            height: 2em;
        }
        .listItem{
            left: 25em;
        }
    }
    @media screen and (min-width: 944px) {
        .autoservis, .vehicle {

            width: 70em;
            height: 3em;
        }
        .listItem{
            left: 21em;
            width: 70em;

        }
    }

@media screen and (min-width: 650px) {
    span.psw {
        display: initial;
        float: initial;


    }

    .cancelbtn {
        width: auto;

    }

    .cancelbtn2 {
        width: auto;
    }
}

@media only screen and (min-width: 650px) {

    .automobil {
        width: 15%;
    }

    h1 {
        font-size: 2em;
        margin: 0;
    }

    .subhead {

        font-size: .9em;
        margin-bottom: 12%;
    }

    .black-container {
        margin: 0;
    }

    .black-container img {
        width: 35%;
    }

    .black-container ul {
        display: flex;
        margin-top: -1em;
        align-items: center;
    }

    .black-container ul li {
        margin-bottom: 0;
        font-size: 70%;
        margin: 0%;

    }

    .black-container ul li p {
        padding: 0.8em;
    }

    .red-container ul {
        display: flex;
    }

    .red-container img {
        width: 35%;
    }

    nav ul {
        width: 40%;
    }

}

@media only screen and (min-width: 875px) {


    .subhead {
        margin-bottom: 15%;
    }

    .black-container ul {
        margin: 0 0 4% 0;
    }

    .red-container {

        padding-top: 0%;
        margin-top: 0%;
    }

    .red-container ul {
        margin-top: 4%;
    }

    .red-container ul img {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {

select {

}
        .autoservis, .vehicle {
            position: relative;
            left: 20px;
            width: 200px;
            height: 27px;
            margin-bottom: 15px;

        }
    .vehicle{
        left: 38px;
    }
    .SavePartButton{

        height: 40px;

    }
    header{
        display: flex;
    }

    .sideBar {
        display: inline-block;
        position: absolute;
        text-align: left;
        float: left;
        left: -2em;


    }

    .sideBar ul li button {
        color: black;
        background-color: inherit;
        border: 0;
        font-size: 18px;
        text-align: left;
        padding: 1em 2em;
        padding-left: 0%;
        border: 0em;
        border-radius: 25em;
        height: 50%;
        padding: 10px;
        width: 19em;
        text-align: left;
        padding-left: 7em;

    }

    .sideBar ul li button:focus {
        background-color: #465062;
        color: #f44336;
    }

    .sideBar ul li button:hover {
        background-color: #D64649;
    }

    .partsList {
        width: 80%;
        margin: 0 auto;
        padding-left: 26em;
        padding-bottom: 10em;
    }

    .partsList ul li button {
        border: 2px solid transparent;
        background-color: #465062;
        color: #ffffff;
        font-size: 17px;
        border-radius: 25em;
        height: 50%;
        padding: 10px;
        width: auto;
        min-width: 8em;
        text-align: center;
        margin: 7px 5px 1px 0;
    }

    .partsList ul li button:focus {
        background-color: #465062;
        border: 2px solid #D64649;
    }

    .partsList ul li button:hover {
        background-color: #465062;
        border: 2px solid #D64649;
    }

    .btnPart {
        background-color: #D64649 !important;
        color: #ffffff !important;
        border: 2px solid transparent;
        font-size: 17px;
        border-radius: 25em;
        height: 50%;
        padding: 10px;
        width: 17em;
        text-align: center;
        margin: 18px 0 3px 0;
    }

    .btnPart:focus {
        background-color: #D64649 !important;
        border: 2px solid #465062 !important;
    }

    .btnPart:hover {
        background-color: #D64649 !important;
        border: 2px solid #465062 !important;
    }

    .btnServ {
        background-color: #465062 !important;
        color: #ffffff !important;
        border: 2px solid transparent;
        font-size: 17px;
        border-radius: 25em;
        height: 50%;
        padding: 10px;
        width: auto;
        min-width: 10em;
        text-align: center;
        margin: 18px 0 3px 0;
    }

    .btnServ:focus {
        background-color: #465062 !important;
        border: 2px solid #D64649 !important;
    }

    .btnServ:hover {
        background-color: #465062 !important;
        border: 2px solid #D64649 !important;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .delete {
        text-align: center;
    }

    .dataChange {
        width: 40%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    .register-mechanic {
        text-align: center !important;
        align-content: center !important;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }


    nav ul li {
        float: left;
    }

    nav ul li button {
        color: #000000;
        background-color: inherit;
        border: 0;

        text-align: right;
        padding: 1em 2em;
        padding-left: 0%;


    }

    nav ul li button:hover {
        background-color: inherit;
    }


    .scroll {
        width: 30px;
        animation: move 1s infinite alternate;
    }

    @keyframes move {

        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }

    }
    .listItem{
        width: 70em !important;
        height: 60px !important;
        left: 2em;
    }
}


@media only screen and (min-width: 1300px) {

    .listItem{
        left: 6em;
    }

    .sideBar ul li button {

        padding-left: 9em;
        width: 22em;

    }


}

@media only screen and (min-width: 1600px) {
    .listItem{
        left: 10em;
    }
    .sideBar ul li button {

        padding-left: 11em;
    }

    .automobil {
        width: 30%;
        margin: auto;
    }

    .container {
        width: 70%;
    }

    .partsList {
        width: 70%;

    }

    .dataChange {
        width: 40%;
    }

    .black-container {
        padding: 7em 0 2em;
    }

    .black-container ul li {
        font-size: 1.3em;
    }

    .red-container {
        padding: 6em 4em;
    }

    .logo {
        margin: -10em;

    }


    .black-container img {
        width: 20%;
    }

    .red-container ul li img {
        width: 35%;
    }

    .footer-container ul li {

        text-align: left;
        padding: 0;
    }

    nav ul {
        padding: 1em;
    }

    nav ul li {

        margin: 0;
    }
}

@media only screen and (min-width: 2400px) {
    .listItem{
        left: 20em;
    }
    .sideBar ul li button {
        width: 25em;
        padding-left: 15em;
    }
}

    .list {
        width: 110%;
        margin: 0 auto;
        padding-left: 14em !important;
        padding-bottom: 10em;
        list-style-type: none;
        text-align: left;
    }




    .reviewContainer {
        position: relative;
        padding-right: 0;
        top: -14em;
        left: 13em;
        border: 1px solid black;
        width: 38%;
        border-radius: 10px

    }
    .reviewContainer label{
        font-size: 50%;
    }

    .reviewContainer button {
        background-color: inherit;
        border: none;
        font-size: 50%;
        padding-left: 4em;
        font-weight: bold;

    }

    .reviewContainer label {
        padding: 1em;

    }

    .reviewContainer ul li {
        border: 1px solid black;
        border-radius: 10px;
    }

    .userAvatar {
        width: 15%;
        position: relative;
        bottom: 1em;
    }

    .userName {
        position: relative;
        bottom: 20px;
        font-weight: bold;
    }

    .userRating {
        position: relative;
        bottom: 20px;
        left: 25px;
    }

    .userComment {
        width: 90%;
        padding-left: 20px;
        border: none;
        background-color: inherit;
        outline: none;
        resize: none;
        font-size: 50%;
    }
   .SavePartButton {
       background-color: dodgerblue !important;
   }

@media screen and (min-width: 465px) {

    .reviewContainer {
        left: 16em;
    }
    .userName{
        bottom: 30px;
    }
    .userRating{
        bottom: 30px;
        left: 70px;
    }
    .userComment{
        font-size: 60%;
    }
}
@media screen and (min-width: 566px) {
    .reviewContainer{
    left:18em;
    }
}
@media screen and (min-width: 665px) {
    .reviewContainer{
        left:22em;
    }
}
@media screen and (min-width: 812px) {
    .reviewContainer{
        left:25em;
    }
}
@media screen and (min-width: 941px) {
    .reviewContainer{
        left:30em;
    }
}
@media screen and (min-width: 1024px) {

    .list{
        width: 60%;
        padding-left: 15em;
    }
    .reviewContainer{
        width: 20%;
        left: 45em;
    }

}
@media screen and (min-width: 1151px) {

    .reviewContainer{

        left: 55em;
    }

}
@media screen and (min-width: 1249px) {
    .userRating{
        left: 120px;
    }
}

@media screen and (min-width: 1375px) {
    .reviewContainer{
        left: 60em;
    }
}
@media screen and (min-width: 1797px) {
    .list {
        padding-left: 30em;

    }

    .reviewContainer {
        left: 75em;
    }

    .reviewContainer button {
        font-size: 110%;
    }

    .userName {
        bottom: 55px;
    }

    .userRating {
        bottom: 55px;
        left: 180px;
    }

}
@media screen and (min-width: 2081px) {
    .reviewContainer{
        left: 90em;
    }
}
@media screen and (min-width: 2555px) {
    .reviewContainer{
        left: 110em;
    }
}